CREATE DATABASE [DBGAMINGGEAR]
USE [DBGAMINGGEAR]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Birthday] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [nvarchar](128) NOT NULL,
	[BrandName] [nvarchar](max) NULL,
	[BrandDescription] [nvarchar](max) NULL,
	[BrandPic] [nvarchar](max) NULL,
	[BrandBackground] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[shopping_quantity] [int] NULL,
	[ProductID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.CartItems] PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [nvarchar](128) NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
	[CategoryDescription] [nvarchar](max) NULL,
	[CategoryPic] [nvarchar](max) NULL,
	[Published] [int] NULL,
	[CategoryBackground] [nvarchar](max) NULL,
	[CategoryAvatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhaps]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhaps](
	[maPhieuNhap] [nvarchar](128) NOT NULL,
	[ProductID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietPhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[maPhieuNhap] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCaps]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCaps](
	[maNhaCungCap] [nvarchar](10) NOT NULL,
	[tenNhaCungCap] [nvarchar](100) NOT NULL,
	[soDienThoai] [nvarchar](15) NULL,
	[diaChi] [nvarchar](255) NULL,
	[email] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.NhaCungCaps] PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [nvarchar](128) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OrderId] [nvarchar](128) NOT NULL,
	[ProductID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [nvarchar](128) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[CustomerPhone] [nvarchar](max) NOT NULL,
	[CustomerAddress] [nvarchar](max) NOT NULL,
	[CustomerEmail] [nvarchar](max) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhaps]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhaps](
	[maPhieuNhap] [nvarchar](128) NOT NULL,
	[maNhanVien] [nvarchar](max) NOT NULL,
	[maNhaCungCap] [nvarchar](10) NOT NULL,
	[ngayLap] [datetime] NOT NULL,
	[tongTien] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.PhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[maPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14/10/2024 11:59:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [nvarchar](128) NOT NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[BrandID] [nvarchar](128) NOT NULL,
	[CategoryID] [nvarchar](128) NOT NULL,
	[AvailabilityStatus] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[BaoHanh] [nvarchar](max) NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ProductPic] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
	[maNhaCungCap] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'5d0a8e1f-fbf4-4d36-9e07-b1edfedb2419', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'0e164369-66b1-47e6-ba6b-4d45c922e841', N'Customer')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'7c709cf4-3523-4734-97d6-3b17f0429615', N'Manager')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2e722e05-86a8-40b2-8a93-e255538dbf5a', N'0e164369-66b1-47e6-ba6b-4d45c922e841')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'41486472-66cc-4543-9547-1f196dbae645', N'0e164369-66b1-47e6-ba6b-4d45c922e841')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'545e3649-f65f-4af0-b43a-1dca546aae3b', N'0e164369-66b1-47e6-ba6b-4d45c922e841')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Birthday], [Address], [City], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2e722e05-86a8-40b2-8a93-e255538dbf5a', CAST(N'2023-12-07T00:00:00.000' AS DateTime), N'Gò Vấp', N'Tp.Hồ Chí Minh', N'phamminhnhat19121103@gmail.com', 0, N'AM9fPOQMwv6nZibATJrDQHVSoYBg6enu+RpMVRhZpnk2WWb8yjhY5OGkcDt9rR6/cg==', N'6737f256-4c13-463a-bd17-cf40684cd066', N'0775945228', 0, 0, NULL, 0, 0, N'minhnhat2')
INSERT [dbo].[AspNetUsers] ([Id], [Birthday], [Address], [City], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'34009aaa-3261-40e5-adff-48fe8e8ee544', NULL, NULL, NULL, N'admin@gmail.com', 0, N'AGJ3QZZ5m+HByeJfa+9jDjOoZb0UbF6JHFKL7sMnv6mrkCbqsFXZfnaH7lj1a8/2DQ==', N'3872af63-15a7-4b4f-9876-b7cf4c519970', NULL, 0, 0, NULL, 0, 0, N'admin')
INSERT [dbo].[AspNetUsers] ([Id], [Birthday], [Address], [City], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'41486472-66cc-4543-9547-1f196dbae645', CAST(N'2003-12-07T00:00:00.000' AS DateTime), N'Gò Vấp', N'Tp.Hồ Chí Minh', N'phamminhnhat19121103@gmail.com', 0, N'ACKprCwB1cpwTNX/lD4VZATfyYZC7YbvQPRrNb6G7ILNwSxa2sRi7UdmvxtylHy1JA==', N'f82ab69f-77d2-44c6-8080-1177ef09df06', N'0775945228', 0, 0, NULL, 0, 0, N'nhat1')
GO
INSERT [dbo].[Brands] ([BrandID], [BrandName], [BrandDescription], [BrandPic], [BrandBackground]) VALUES (N'BR001', N'Filco', N'Là thương hiệu bàn phím cơ Nhật Bản được thành lập năm 1992, Filco luôn biết làm gì để những mẫu bàn phím cơ của mình bền nhất và luôn là trợ thủ đáng tin cậy trong mọi môi trường làm việc cũng như giải trí tại nhà. - Ngoài bàn phím cơ, Filco còn có các phụ kiện giúp hỗ trợ sử dụng bàn phím được thoải mái hơn như kê tay, phụ kiện vệ sinh, keycap,...', N'PicBrand/backgroundFilco.jpg', N'PicBrand/FilcoBrand.jpg')
INSERT [dbo].[Brands] ([BrandID], [BrandName], [BrandDescription], [BrandPic], [BrandBackground]) VALUES (N'BR003', N'Lethal Gaming Gear', N'Là thương hiệu đến từ Mỹ, Lethal Gaming Gear hay còn gọi tắt là LGG, là công ty chuyên kinh doanh và sản xuất các thiết bị gaming gear phục vụ những game thủ, những người chơi gear khó tính. - Những sản phẩm nổi bật của hãng có thể kể đến là series lót chuột LGG Jupiter, Saturn, Venus, Mercury hay series PRO với vật liệu Xsoft cực hot trong giới chơi lót chuột cao cấp.', N'PicBrand/backgroundLeather.jpg', N'PicBrand/leatherBrand.jpg')
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemID], [shopping_quantity], [ProductID]) VALUES (11, 5, N'SP002')
INSERT [dbo].[CartItems] ([CartItemID], [shopping_quantity], [ProductID]) VALUES (12, 5, N'SP005')
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryPic], [Published], [CategoryBackground], [CategoryAvatar]) VALUES (N'MH001', N'Bàn phím cơ', N'Bàn phím cơ thoải mái cho lập trình viên hoặc game thủ giảm mệt mỏi khi sử dụng máy tính lâu dài.', N'Pic/CategoryTitle.jpg', 2023, N'/Pic/Ban-phim-coBackground.jpg', N'/Pic/banphimco.png')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryPic], [Published], [CategoryBackground], [CategoryAvatar]) VALUES (N'MH002', N'Chuột', N'Chuột gaming, chuột văn phòng hay những chú chuột không dây, có dây mới nhất bạn có thể tìm thấy tại GamingGearShop sẽ xuất hiện tại đây.', N'/Pic/chuot.jpg', 2023, N'/Pic/chuotBackground.jpg', N'/Pic/mouse.png')
GO
INSERT [dbo].[NhaCungCaps] ([maNhaCungCap], [tenNhaCungCap], [soDienThoai], [diaChi], [email]) VALUES (N'NCC01', N'Phong Cách Xanh', N'02862921182', N'89 Hồ Văn Huê, P9, Q.Phú Nhuận Hồ Chí Minh Việt Nam', N'info@phongcachxanh.vn')
GO
INSERT [dbo].[OrderDetails] ([OrderDetailID], [Quantity], [Price], [OrderId], [ProductID]) VALUES (N'033a4a8a-70e1-403c-b9cf-87573a673580', 1, CAST(3377000.00 AS Decimal(18, 2)), N'69dc4005-85d7-4290-8de6-7374f30c511f', N'SP003')
INSERT [dbo].[OrderDetails] ([OrderDetailID], [Quantity], [Price], [OrderId], [ProductID]) VALUES (N'07e723c1-f211-425b-8064-7c5907bc22b3', 1, CAST(3272000.00 AS Decimal(18, 2)), N'5509eee4-6bf2-4098-8f2e-00330f89e511', N'SP002')
INSERT [dbo].[OrderDetails] ([OrderDetailID], [Quantity], [Price], [OrderId], [ProductID]) VALUES (N'0935e366-8caa-44a6-8935-20993973d8ff', 2, CAST(3377000.00 AS Decimal(18, 2)), N'3ea18823-780b-4e4b-9d6a-0c398b8da001', N'SP003')
GO
INSERT [dbo].[Orders] ([OrderId], [CreatedDate], [Status], [UserId], [CustomerName], [CustomerPhone], [CustomerAddress], [CustomerEmail], [PaymentMethod], [TotalAmount]) VALUES (N'3ea18823-780b-4e4b-9d6a-0c398b8da001', CAST(N'2024-10-14T23:38:50.433' AS DateTime), 0, N'717cc720-fef8-465f-ae80-4f58ecd4d4fd', N'Phạm Minh Nhật', N'0775945228', N'254/9', N'nhat@gmail.com', N'Thanh toán khi nhận hàng', CAST(6754000.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderId], [CreatedDate], [Status], [UserId], [CustomerName], [CustomerPhone], [CustomerAddress], [CustomerEmail], [PaymentMethod], [TotalAmount]) VALUES (N'5509eee4-6bf2-4098-8f2e-00330f89e511', CAST(N'2024-09-12T12:17:30.427' AS DateTime), 0, N'41486472-66cc-4543-9547-1f196dbae645', N'Nhật', N'0775945228', N'254', N'pmn@gmail.com', N'Chuyển khoản ngân hàng', CAST(15724000.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderId], [CreatedDate], [Status], [UserId], [CustomerName], [CustomerPhone], [CustomerAddress], [CustomerEmail], [PaymentMethod], [TotalAmount]) VALUES (N'69dc4005-85d7-4290-8de6-7374f30c511f', CAST(N'2024-09-12T00:23:52.007' AS DateTime), 0, N'41486472-66cc-4543-9547-1f196dbae645', N'Nhật', N'0775945228', N'254', N'pmn@gmail.com', N'Thanh toán khi nhận hàng', CAST(3377000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Products] ([ProductID], [ProductDescription], [BrandID], [CategoryID], [AvailabilityStatus], [Quantity], [BaoHanh], [ProductName], [ProductPic], [Price], [maNhaCungCap]) VALUES (N'SP003', N'Chỉ bản Pre-built có:

Switch Glorious Fox: Linear, 45g, pre-lube.
Keycap ABS Doubleshot với font mới.
Designed in USA', N'BR005', N'MH001', N'InStock', 3, N'24 tháng đổi mới', N'Bàn phím cơ Glorious GMMK 2 Fullsize 96%', N'Pic/BanPhimCo-Glorious-GMMK2-Fullsize96.jpg', 3377000, N'NCC01')
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [UserId]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [CustomerPhone]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [CustomerAddress]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [CustomerEmail]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CartItems_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_dbo.CartItems_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietPhieuNhaps_dbo.PhieuNhaps_maPhieuNhap] FOREIGN KEY([maPhieuNhap])
REFERENCES [dbo].[PhieuNhaps] ([maPhieuNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_dbo.ChiTietPhieuNhaps_dbo.PhieuNhaps_maPhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietPhieuNhaps_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_dbo.ChiTietPhieuNhaps_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[PhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuNhaps_dbo.NhaCungCaps_maNhaCungCap] FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCaps] ([maNhaCungCap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhaps] CHECK CONSTRAINT [FK_dbo.PhieuNhaps_dbo.NhaCungCaps_maNhaCungCap]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandID] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.NhaCungCaps_maNhaCungCap] FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCaps] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.NhaCungCaps_maNhaCungCap]
GO
