*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --grid-gutter: 1.5rem;
    --shadow: 0 5px 15px rgb(39 39 39 / 0.1);
    --card-color: #fff;
    --border-color: #467381;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

svg:not(:root) {
    overflow: hidden;
}

@media screen and (min-width: 700px) {
    img {
        max-width: min(var(--image-max-width, 100%), 100%);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.content {
    font-weight: 400;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

    .content:hover {
        color: #fff;
        text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
    }

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar-nav {
    display: flex;
    margin-right: 1rem;
    justify-content: space-around;
}

    .navbar-nav a {
        display: block;
        padding: 2rem;
    }

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

        .navbar-nav .nav-item {
            margin: 10px 0;
        }

        .navbar-nav .nav-link {
            font-size: 14px;
        }
}

.header_wrapper {
    align-items: center;
}

.header_main-nav {
    box-sizing: border-box;
    display: block;
    margin-right: 200px;
}

.contentwelcome {
    text-align: center;
    place-self: center;
    position: relative;
}

.container-home {
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu là 100% của viewport */
}

    .container-home a {
        display: block;
        padding: 2rem;
    }

#main-thietbi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


img {
    vertical-align: middle;
    display: block;
}

@media screen and (min-width: 700px) {
    #main-thietbi {
        --collection-list-grid: auto / auto-flow 36vw;
    }
}

@media screen and (min-width: 1000px) {
    #main-thietbi {
        --collection-list-grid: auto / auto-flow calc(var(--container-inner-width) / 5 - (var(--grid-gutter) / 3 * 2));
    }
}

@media screen and (min-width: 1400px) {
    #main-thietbi {
        --collection-list-grid: auto / auto-flow calc(var(--container-inner-width) / 5 - (var(--grid-gutter) / 5 * 4));
    }
}

@media (min-width: 766px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 700px) {
    .collection-list {
        --collection-list-grid: auto / auto-flow 36vw;
    }
}

#welcome {
    display: flex;
    width: 100%;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.shopify-section {
    background: rgb(255 255 255);
    position: relative;
}

.section {
    padding-block-start: 10px;
    padding-block-end: 100px;
}

.section-stack {
    gap: 3rem 3.5rem;
    grid-auto-columns: minmax(0,1fr);
    display: grid;
    align-items: center;
}

.collection-card--reverse-transition {
    --transition-direction: -1;
}

.shadow {
    filter: drop-shadow(var(--shadow));
}

.thietbi {
    place-items: center;
    display: grid;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
}


.rounded-sm {
    border-radius: 0.375rem;
}

.zoom-image {
    transform-origin: center;
    transition: transform 1.5s cubic-bezier(.22,1,.36,1);
}

.test-custom {
    color: rgb(26 26 26);
    place-self: end;
    z-index: 1;
    grid-area: 2 / 2 / auto / span 1;
}

.place-center {
    place-self: center;
}

.collection-card_content-wrapper svg {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s, transform .2s;
    display: inline-block;
}

.thietbi > :not(img) {
    max-width: 780px;
    z-index: 1;
    grid: 2 / 2 / auto / span 1;
    position: relative;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.icon {
    vertical-align: middle;
}

.collection-card_content:first-child {
    margin-block-end: -3rem;
}

.collection-card_content {
    transition: transform .2s;
}

.h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.01em;
    overflow-wrap: anywhere;
}

.h2 {
    font-size: 2rem;
    line-height: 1.1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    letter-spacing: -0.01em;
    overflow-wrap: anywhere;
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 110px;
    right: 50px;
}

.category-card {
    width: 300px;
}

.figure {
    opacity: 1.0;
}

    .figure:hover {
        opacity: 0.6;
        transition: all 1s;
    }

/*Brand*/
@media screen and (min-width: 700px) {
    .logo-list {
        gap: 1rem;
    }

    .logo-list-item {
        padding: 2.75rem;
        width: 100px;
    }

    .logo-list-image {
        width: 100%;
    }

    img {
        max-width: min(var(--image-max-width, 100%), 100%);
    }
}

.collection-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo-list-item .logo-list-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: sepia(0.5);
}
/*#main-thietbi {
    --logo-list-grid: auto-flow 1fr / repeat(3), minmax(0, 280px);
}*/

.logo-list {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.logo-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    width: 100%;
    max-width: 269px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.khoangtrang {
    width: 100%;
    height: 3rem;
    border: solid rgba(0, 0, 0, .15);
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

footer {
    display: block;
    padding-bottom: 100px;
}

/*.place-self-center-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;

}

.gap-4 {
    padding: 20px;
    border-radius: 15px;
    background-color: #272727;
    color: white;
    margin-bottom: 10px;
}*/

/*Products*/
.product-div {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

    .product-div .product-effect {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background-color: var(--border-color);
        filter: blur(30px);
        transform: scale(0);
        transition: 2s ease-in-out;
    }

        .product-div .product-effect::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: #000;
            filter: blur(10px);
            transform: scale(0.5);
            transition: 2s ease-in-out;
        }

    .product-div .product-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        border-radius: 20px;
        cursor: pointer;
        transition: 1s ease-in-out;
        overflow: hidden;
        z-index: 10;
        background-color: var(--card-color);
    }

.product-card::after {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--border-color);
    animation: spin 6s linear infinite;
    box-shadow: 0 0 10px 10px var(--border-color);
    transition: 1.5s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.product-card::before {
    position: absolute;
    content: "";
    inset: 4px;
    background-color: var(--card-color);
    z-index: 10;
    border-radius: 16px;
}

.product-card:hover {
    box-shadow: 0 0 5px #1a434f, 0 0 30px #316371, 0 0 100px #538d9e;
}

.product-card::after {
    animation-play-state: paused;
}

.product-card:hover .product-effect {
    transform: scale(1.5);
}

    .product-card:hover .product-effect::before {
        transform: scale(1.5);
        transition-delay: 1s;
    }

.product-card .product-card-content {
    width: 100%;
    height: 100%;
    z-index: 20;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

.product-card-content .product-image {
    width: 90%;
    object-fit: contain;
}

.product-card-content .product-button {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: var(--border-color);
    font-family: inherit;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease;
    border: none;
    margin-top: 5px;
}

    .product-card-content .product-button::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-color: var(--card-color);
        top: 0;
        left: 0;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: 1;
    }

    .product-card-content .product-button::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-color: var(--card-color);
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%) rotate(45deg);
        z-index: 2;
    }

    .product-card-content .product-button:hover {
        transform: scale(0.95);
    }

.input-search {
    overflow: visible;
}

/*PRODUCTS*/
.product {
    align-items: start;
    display: grid;
}

.login-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .login-btn:hover {
        background-color: #0056b3;
    }

.register-link {
    color: #4CAF50;
    text-decoration: none;
}

    .register-link:hover {
        color: #000;
        text-decoration: underline;
    }

.logout {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

    .logout:hover {
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }

.btn-logout {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    color: #EBEBEB;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

    .btn-logout:hover, .btn-logout:focus {
        color: #3498db;
        outline: 0;
    }

.btn-outofstock {
    color: black;
    width: 800px;
    height: 50px;
    background-color: gainsboro;
    border-radius: 0.6em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 1.2em 2.8em;
    text-transform: uppercase;
}

.list-group-item {
    border: none;
}

.link {
    width: 100%;
}

.category-link:hover {
    background-color: #3498db;
    color: white;
}

.checkbox-wrapper-14 * {
    box-sizing: inherit;
}

    .checkbox-wrapper-14 *:before,
    .checkbox-wrapper-14 *:after {
        box-sizing: inherit;
    }

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

.button-79 {
    backface-visibility: hidden;
    background: #332cf2;
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-79:disabled {
        color: #787878;
        cursor: auto;
    }

    .button-79:not(:disabled):hover {
        transform: scale(1.05);
    }

        .button-79:not(:disabled):hover:active {
            transform: scale(1.05) translateY(.125rem);
        }

    .button-79:focus {
        outline: 0 solid transparent;
    }

        .button-79:focus:before {
            border-width: .125rem;
            content: "";
            left: calc(-1*.375rem);
            pointer-events: none;
            position: absolute;
            top: calc(-1*.375rem);
            transition: border-radius;
            user-select: none;
        }

        .button-79:focus:not(:focus-visible) {
            outline: 0 solid transparent;
        }

    .button-79:not(:disabled):active {
        transform: translateY(.125rem);
    }

#update-quantity {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    #update-quantity:hover {
        background-color: #45a049;
    }

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
