<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.DBGAMINGGEARConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=DBGAMINGGEAR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.DBGAMINGGEARConnectionString1"
            connectionString="Data Source=ADMIN-PC;Initial Catalog=DBGAMINGGEAR;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>